    <testdir></testdir>

    <div class="col-md-6 col-md-offset-3">
        <div class="well bs-component">
          <div class="alert alert-dismissible alert-{{cat_result_type}}" ng-if="cat_result_success">
            <button type="button" class="close" data-dismiss="alert" ng-click="reset()">×</button>
            {{cat_result}}
        </div>
        <form id="category_form" method="post">
            <label>Post Tittle:</label>
            <input type="text" class="form-control" ng-model="pos.post_tittle"/>
            <label>Post Content:</label>
            <textarea class="form-control" ng-model="pos.post_content"></textarea>
            <label>Post Category:</label>
            <select class="form-control default" ng-model="pos.post_cat">
                <option value=""></option>
                <option ng-repeat="c in catList" value="{{c.id}}">{{c.cat_name}}</option>
            </select>
            
            <br/>
            <div class="form-group">
              <div>
                <a href="#/postmanager"><button type="reset" class="btn btn-default" ng-click="reset()">Back</button></a>
                <button type="submit" class="btn btn-primary" ng-click="add(pos)">Add</button>
            </div>
        </form>
    </div>
</div>