<testdir></testdir>

<div style="padding:10px">
<a href="#/add_cat" ng-click="reset()">Add New Category</a>
<br/>


<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Cat, ID</th>
            <th>Category Name</th>
            <th>Category Edit</th>
            <th>Category Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active" ng-repeat="c in catlist">
            <td>{{ c.id }}</td>
            <td>
                {{ c.cat_name }}
            </td>
            <td><a href="" ng-click="edit(c.id,c.cat_name)">
                Edit
            </a></td>
            <td> <a href="" ng-click="dlt(c.id)">
                Delete
            </a></td>

        </tr>

    </tbody>
</table>

</div>