    <testdir></testdir>

    <div class="col-md-4 col-md-offset-4">
        <div class="well bs-component">
          <div class="alert alert-dismissible alert-{{cat_result_type}}" ng-if="cat_result_success">
            <button type="button" class="close" data-dismiss="alert" ng-click="reset()">×</button>
            {{cat_result}}
        </div>
        <form id="category_form" method="post">
            <label>Are you sure ?</label>
            <br/>
            <div class="form-group">
              <div>
                <a href="#/catmanager"><button type="reset" class="btn btn-default" ng-click="reset()">Back</button></a>
                <button type="submit" class="btn btn-danger" ng-click="dltpost()">Delete</button>
            </div>
        </form>
    </div>
</div>