<testdir></testdir>
<div class="col-md-8 col-md-offset-2">

    <div class="jumbotron" style="padding:15px">
      <h1>Egemblog</h1>
      <p>This is a simple blog site and we are waiting for you.Share your extraordinary imagination with others.</p>
      <p><a href="#/register" class="btn btn-primary btn-lg">Join Us!</a></p>
  </div>
</div>


<div ng-repeat="c in posts | orderBy:'-id'">
	
    <div class="col-md-8 col-md-offset-2">
        <div class="well bs-component">
            <h2>
                <div><a style="text-decoration: none"
                    href="#/post/{{c.id}}">{{ c.post_tittle }}</a>
                </div>

            </h2>
            <p class="text-info">Published: {{ c.post_pub_date }} | Edited: {{ c.post_edit_date }}</p>

            <p class="text-info"><span class="label label-success">Author: {{ c.post_usr.username }}</span> | <span
                class="label label-success">Category:{{ c.post_cat.cat_name }}</span></p>

                <div>{{ c.post_content }} ...</div>


                <br/>
                <br/>
            </div>
        </div>

    </div>

