        <testdir></testdir>
        <div class="col-md-6 col-md-offset-3">

            <div class="well bs-component">
            <form>
            <div class="alert alert-dismissible alert-{{reg_result_type}}" ng-if="reg_result_success">
                        <button type="button" class="close" data-dismiss="alert" ng-click="reset()">×</button>
                        {{reg_result}}
                        {{reg_result.username}}
                        {{reg_result.password}}
                    </div>
             <fieldset>
                <legend>User Login</legend>
            <div class="form-group">
              <label for="username" class="col-lg-2 control-label">Username</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="ud.username">
                <br/>
            </div>
        </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
         
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="ud.password">
                <br/>
            </div>
        </div>



        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <a href="#/home"><button type="reset" class="btn btn-default">Back</button></a>
            <button type="submit" class="btn btn-primary" ng-click="login(ud)">Log In</button>
        </div>
    </div>
</fieldset>
</form>
</div>
</div>