  <nav class="navbar navbar-default" ng-controller="navbarCtr">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">EGEMBLOG</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#/home">Home</a></li>
          <li class="dropdown">
            <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" >

              <li ng-repeat="c in catList"><a href="#/category/{{c.id}}">{{c.cat_name}}</a></li>
            </ul>
          </li>
          <li ng-if="auth"><a href="#/catmanager">Category Manager</a></li>
          <li ng-if="auth"><a href="#/postmanager">Post Manager</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-if="auth">
              <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Welcome : {{user}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" >
              <li><a href="#/settings">Account Settings</a></li>
              <li><a href="#/stats">Account Stats</a></li>
              </ul>
            </li>

            <li ng-if="auth"><a href="" ng-click="logout()">Logout</a></li>
            <li ng-if="noauth"><a href="#/login" >Login</span></a></li>
            <li ng-if="noauth"><a href="#/register">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>