<testdir></testdir>

<div style="padding:10px">
<a href="#/add_post" ng-click="reset()">Add New Post</a>
<br/>


<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Post, ID</th>
            <th>Post Tittle</th>
            <th>Post Edit</th>
            <th>Post Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active" ng-repeat="c in postlist">
            <td>{{ c.id }}</td>
            <td>
                {{ c.post_tittle }}
            </td>
            <td><a href="" ng-click="edit(c.id,c.post_tittle,c.post_content,c.post_cat.id)">
                Edit
            </a></td>
            <td> <a href="" ng-click="dlt(c.id)">
                Delete
            </a></td>

        </tr>

    </tbody>
</table>

</div>