<testdir></testdir>
<div ng-repeat="post in postdetail">
    <div class="col-md-8 col-md-offset-2">

        <div class="well bs-component">
            <h2>
                <div>
                    <a style="text-decoration: none"
                    href="#/post/{{post.id}}">{{ post.post_tittle }}</a>


                </div>
            </h2>
            <p class="text-info">Published: {{ post.post_pub_date }} | Edited: {{ post.post_edit_date }}</p>

            <p class="text-info"><span class="label label-success">Author: {{ post.post_usr.username }}</span> | <span
                class="label label-success">Category:{{ post.post_cat.cat_name }}</span> | <img
                src="src/img/like.png">
                Like : <span class="badge">{{ post.post_like }}</span>
                <img
                src="src/img/dlike.png"> Dislike : <span
                class="badge">{{ post.post_dislike }}</span></p>

                <p>


                </p>

                <div>{{ post.post_content }}</div>


                <br/>
                <br/>

                <div>
                    <form id="tttt" method="post">
                      <div class="alert alert-dismissible alert-{{comment_result_type}}" ng-if="comment_result_success">
                        <button type="button" class="close" data-dismiss="alert" ng-click="reset()">×</button>
                        {{comment_result}}
                    </div>
                    <label>Email</label>
                    <input type="mail" class="form-control" ng-model="cmt.email"/>
                    <br/>
                    <label>Comment</label>
                    <textarea class="form-control" ng-model="cmt.comment"></textarea>
                    <br/>

                    <select class="form-control default" ng-model="cmt.vote">
                        <option id="like" value="true">Like</option>
                        <option value="false">Dislike</option>
                    </select>
                    <br/>
                    <input class="btn btn-primary" type="submit" value="submit" ng-click="yolla(post.id,cmt)"/>
                </form>
            </div>


        </div>
    </div>
</div>
<div class="col-md-8 col-md-offset-2"><h2>Comments:</h2></div>
<div ng-repeat="post in postdetail">
<div ng-repeat="cm in comments | orderBy:'-id'">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Email:  </strong>{{cm.email}} 
             <strong ng-if="auth && !cm.comment_isValid && post.post_usr.username==user">|<a href="" ng-click="cmtVerify(post.id,cm.id)">  Verify</a></strong>
             <strong ng-if="auth && post.post_usr.username==user"><a href="" ng-click="cmtDelete(post.id,cm.id)">Delete</a></strong></h3>
        </div>
        <div class="panel-body"><strong>Comment:</strong>
            {{cm.comment}}
        </div>
    </div>
</div>
</div>
</div>