        <testdir></testdir>
        <div class="col-md-6 col-md-offset-3">

            <div class="well bs-component">
            <form>
            <div class="alert alert-dismissible alert-{{reg_result_type}}" ng-if="reg_result_success">
                        <button type="button" class="close" data-dismiss="alert" ng-click="reset()">×</button>
                       
                        {{reg_result.info}}
                    </div>
             <fieldset>

                <legend>User Register</legend>
                <div class="form-group">
                  <label for="inputEmail" class="col-lg-4 control-label">Email</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="uud.mail">
                    <br/>
                </div>
            </div>
            <div class="form-group has-warning">
              <label for="inputWarning" class="col-lg-4 control-label">Username (* required)</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputWarning" placeholder="Username" ng-model="uud.username">
                <br/>
            </div>
        </div>
            <div class="form-group has-warning" >
              <label for="inputWarning" class="col-lg-4 control-label">Password (* required)</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputWarning" placeholder="Password" ng-model="uud.password">
                <br/>
            </div>
        </div>

                    <div class="form-group">
              <label for="first_name" class="col-lg-4 control-label">First Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="uud.first_name">
                <br/>
            </div>
        </div>

                    <div class="form-group">
              <label for="last_name" class="col-lg-4 control-label">Last Name</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="uud.last_name">
                <br/>
            </div>
        </div>



        <div class="form-group">
          <div class="col-lg-10">
            <a href="#/home"><button type="reset" class="btn btn-default">Back</button></a>
            <button type="submit" class="btn btn-primary" ng-click="updateUser(uud)">Update</button>
        </div>
    </div>
</fieldset>
</form>
</div>
</div>