        <testdir></testdir>
        <div class="col-lg-6 col-lg-offset-3" ng-controller="ldlCtr">
        	<div class="panel panel-default">
        		<div class="panel-heading">Post Like/Dislike Stats {{ testa("asdasd") }}</div>
        		<div class="panel-body">
        			<div class="chart-container">
        				
        				<canvas id="bar" class="chart chart-bar ng-isolate-scope" data="data" labels="labels" series="series" options="options" height="261" width="523" style="width: 523px; height: 261px;" colours="[{
        				fillColor: 'rgba(39, 128, 227, 0.8)',
        			},{
        				fillColor: 'rgba(0, 0, 0, 0.8)',
        			}];"></canvas>
        		</div>

        	</div>
        </div>
    </div>
