  <div class="modal-header">
   <h3>You're Idle to much. Do Something!</h3>
  </div>
  <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
  <strong>You'll be logged out in {{countdown}} second(s).</strong>
   <progressbar max="5" value="countdown" animate="false" class="progress-striped active"></progressbar>
  </div>